@{
    ViewBag.Title = "Lịch sử";
}
<h2>@ViewBag.Title</h2>
<h3 style="color:red;">Lịch sử giao dịch</h3>

<div class="jumbotron">
    @foreach (var item in ViewBag.AllTransaction)
    {
        <p>@item</p>
    }
</div>
