@{
    ViewBag.Title = "Trang chủ";
}

    <div class="row">
        @foreach (var list in ViewBag.AllChainContent)
        {
            <div class="col-md-4" style="border:double;height:350px;">
                <h2>@list[0]</h2>
                @foreach (var item in list)
                {
                    <p>@item</p>
                }
            </div>
        }
    </div>